#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            bindings = <
                     &kp Z    &kp M    &kp K    &kp S   &kp E    &kp G
            &kp D    &kp A    &kp B    &kp C    &kp R   &kp J    &KP N    &kp Q
                              &kp E    &kp F    &kp SPC &kp ESC
            >;
        };
    };
 };
