/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>
#include "keymap_belgian.h"

#define AL1 0  // alpha1
#define AL2 1  // alpha2
#define ALU 2  // alpha2 capitalized
#define NUM 3  // number
#define SM1 4  // symbol 1
#define SM2 5  // symbol 2
#define SYS 6  // system layer

&mt {
    tapping-term-ms = <201>;
    flavor = "tap-preferred";
 };
&sk {
     release-after-ms = <2000>;
     quick-release;
 };

/ {

  chosen {
    zmk,battery = &vbatt;
  };

  vbatt: vbatt {
    compatible = "zmk,battery-nrf-vddh";
  };


  keymap {
    compatible = "zmk,keymap";

    alpha1 {
      bindings = <
        &none &none &none &none &none                       &none &none &none &none &none
        &none &hm_l LALT BE_H &hm_l LCTRL BE_G &hm_l LGUI BE_D &none                       &none &hm_r RGUI BE_L &hm_r RCTRL BE_U &hm_r RALT BE_C &none
        &hl_l NUM BE_A &hl_l SM2 BE_R &hl_l SM1 BE_S &hl_l SYS BE_T &none                       &none &hl_r SYS BE_N &hl_r SM1 BE_E &hl_r SM2 BE_I &hl_r NUM BE_O
                          &kp SPC &none                       &none &alpha2macro
      >;
    };

    alpha2 {
      bindings = <
        &none &none &none &none &none                       &none &none &none &none &none
        &none &kp BE_J &kp BE_Q &kp BE_W &none                       &none &kp BE_V &kp BE_QUOT  &kp BE_Z &none
        &kp BE_X &kp BE_P &kp BE_B &kp BE_K &none                       &none &kp BE_M &kp BE_DOT &kp BE_F &kp BE_Y
                          &sk LSHIFT &none                       &none &sl ALU
      >;

    };
    alpha2caps {
      bindings = <
        &none &none &none &none &none                       &none &none &none &none &none
        &none &kp LS(BE_W) &kp LS(BE_Q) &kp LS(BE_W) &none                       &none &kp LS(BE_V) &none  &kp LS(BE_Z) &none
        &kp LS(BE_X) &kp LS(BE_P) &kp LS(BE_B) &kp LS(BE_K) &none                       &none &kp LS(BE_M) &kp BE_COMM &kp LS(BE_F) &kp LS(BE_Y)
                          &trans &none                       &none &none
      >;
    };


    number {
      bindings = <
        &none &none &none &none &none                       &none &none &none &none &none
        &none &hm_l LALT BE_DOT &hm_l LCTRL BE_1 &hm_l LGUI BE_2 &none                       &none &hm_r RGUI BE_3 &hm_r RCTRL BE_4 &hm_r RALT BE_5 &none
        &kp BE_MINS &kp BE_PLUS &kp BE_6 &kp BE_7 &none                       &none &kp BE_8 &kp BE_9 &kp BE_0 &kp BE_EQL
                          &sr LSHIFT AL1 &none                       &none &kp GUI
      >;
    };

    symbol1 {
      bindings = <
        &none &none &none &none &none                       &none &none &none &none &none
        &none &kp BE_MINUS &kp BE_LPRN &kp BE_RPRN &none                       &none &td BE_QUOT BE_DQUO &td BE_QUES BE_EXLM &kp BE_PERC &none
        &kp BE_ASTR &kp BE_UNDS &kp BE_LCBR &kp BE_RCBR &none                       &none &kp BE_SLSH &kp BE_SCLN &kp BE_COLN &kp BE_EQL
                          &trans &none                       &none &trans
      >;
    };
    symbol2 {
      bindings = <
        &none &none &none &none &none                       &none &none &none &none &none
        &none &td BE_EGRV BE_EACU &kp BE_LABK &kp BE_RABK &none                       &none &kp BE_HASH &kp BE_AMPR &kp BE_AT &none
        &etre &td BE_CCED BE_AGRV &kp BE_LBRC &kp BE_RBRC &none                       &none &kp BE_PIPE &kp BE_DLR &untd 0 0 &none
                          &trans &none                       &none &trans
      >;
    };
    system {
      bindings = <
        &none &none &none &none &none                       &none &none &none &none &none
        &none &kp ESC &none &none &none                       &none &td LC(BE_V) LC(BE_C) &kp UP &kp BSPC &none
        &kp TAB &td HOME DEL &kp PG_DN &kp PG_UP &none                       &none &kp LEFT &kp DOWN &kp RIGHT &kp RET
                          &sr LSHIFT AL1 &none                       &none &none
      >;
    };
    blank_layer {
      bindings = <
        &none &none &none &none &none                       &none &none &none &none &none
        &none &none &none &none &none                       &none &none &none &none &none
        &none &none &none &none &none                       &none &none &none &none &none
                          &none &none                       &none &none
      >;
    };

  };

  conditional_layers {
    compatible = "zmk,conditional-layers";
  };

  macros {
    alpha2macro: behavior_macro_1 {
      compatible = "zmk,behavior-macro";
      label = "MACRO1";
      #binding-cells = <0>;
      bindings = <&macro_tap &sl AL2 >;
    };
    caps_alpha2macro: behavior_macro_2 {
      compatible = "zmk,behavior-macro";
      label = "MACRO2";
      #binding-cells = <0>;
      bindings = <&macro_tap &sl ALU >;
    };
    udtd: undead_tilda {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      wait-ms = <40>;
      tap-ms = <40>;
      bindings = <&kp BE_TILD>, <&kp SPACE>;
    };
    
    udgr: undead_grave {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      wait-ms = <40>;
      tap-ms = <40>;
      bindings = <&kp BE_GRV>, <&kp SPACE>;
    };

    etre: e-trema {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      wait-ms = <40>;
      tap-ms = <40>;
      bindings = <&kp BE_DIAE>, <&kp BE_E>;
    };
  };

  behaviors {
    hm_l: homerow_mods_left {
      compatible = "zmk,behavior-hold-tap";
      label = "HOMEROW_MODS_L";
      #binding-cells = <2>;
      tapping-term-ms = <300>;
      quick-tap-ms = <250>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
    hm_r: homerow_mods_right {
      compatible = "zmk,behavior-hold-tap";
      label = "HOMEROW_MODS_R";
      #binding-cells = <2>;
      tapping-term-ms = <300>;
      quick-tap-ms = <250>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
    sr: shift_layer {
      compatible = "zmk,behavior-hold-tap";
      label = "SHIFT_LAYER";
      #binding-cells = <2>;
      tapping-term-ms = <300>;
      quick_tap_ms = <0>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&to>;
      retro-tap;
    };
    hl_l: homerow_layers_left {
      compatible = "zmk,behavior-hold-tap";
      label = "HOMEROW_LAYERS_L";
      #binding-cells = <2>;
      tapping-term-ms = <220>;
      quick-tap-ms = <250>;
      flavor = "tap-preferred";
      bindings = <&mo>, <&kp>;
    };
    hl_r: homerow_layers_right {
      compatible = "zmk,behavior-hold-tap";
      label = "HOMEROW_LAYERS_R";
      #binding-cells = <2>;
      tapping-term-ms = <220>;
      quick-tap-ms = <250>;
      flavor = "tap-preferred";
      bindings = <&mo>, <&kp>;
    };
    td: tapdance {
      compatible = "zmk,behavior-hold-tap";
      label = "TAPDANCE";
      #binding-cells = <2>;
      tapping-term-ms = <190>;
      quick-tap-ms = <250>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    }; 
    untd: undead_tapdance {
      compatible = "zmk,behavior-hold-tap";
      label = "TAPDANCE";
      #binding-cells = <2>;
      tapping-term-ms = <190>;
      quick-tap-ms = <250>;
      flavor = "tap-preferred";
      bindings = <&udgr>, <&udtd>;
    };
  };
  combos {
    compatible = "zmk,combos";
    combo_sys {
      timeout-ms = <30>;
      key-positions = <17 18 19>;
      bindings = <&to SYS>;
    };
    combo_caps {
      timeout-ms = <30>;
      key-positions = <27 28 29>;
      bindings = <&caps_word>;
    };
    lshft {
      timeout-ms = <20>;
      key-positions = <23 24>;
      bindings = <&kp LSHIFT>;
      layers = <SYS>;
    };
    lclk {
      timeout-ms = <20>;
      key-positions = <27 28>;
      bindings <&mkp LCLK>;
      layers = <SYS>;
    };
    rclk {
      timeout-ms = <20>;
      key-positions = <17 18>;
      bindings <&mkp RCLK>;
      layers = <SYS>;
    };
    mclk {
      timeout-ms = <20>;
      key-positions = <18 27>;
      bindings = <&mkp MCLK>;
      layers = <SYS>;
    }
  };
  
};
